.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    
    &.error { //Estan en el mismo nivel, alerta y error
        background-color: $rojo;
    }
}